html {
  font: 24px "Source Sans Pro", sans-serif;
  color: #ffddcd;
  text-align: center;
  background: black url(images/tamp.jpg) no-repeat;
  background-size: cover;
  min-height: 100%;
  text-shadow: 0 1px 5px rgba(50,0,0,.5);
}

h1 {
  font-size: 84px;
  font-weight: 900;
}

a {
  color: currentColor;
}

header, footer, section {
  margin: 4em 0;
}

footer {
  font-size: 75%;
}

.button {
  padding: .5em 1em;
  color: white;
  background-color: rgba(255,0,78,.7);
  text-decoration: none;
  border-radius: 12px;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: 600;
  font-size: 85%;
  letter-spacing: 1px;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(255,0,78,1);
}

.button img {
  margin-right: 5px;
}